node_modules
.env
.env.local
.next
dist
.wrangler
.turbo
*.log
.dev.vars
.open-next
sw.js
workbox-*


# Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temp/random files
apps/web/public/icons/P*