node_modules
.env
.env.local
.next
dist
.wrangler
.turbo
*.log
.dev.vars
.open-next
sw.js
workbox-*

# Lock files (optional but cleaner for open source)
package-lock.json

# Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temp/random files
apps/web/public/icons/P*